<app-demo/>
<div class="parant">
    <div class="buttons">
        <div class="left-btn">
            <button class="right ">Список</button>
            <button routerLink="" class="right active">Плитка</button>
        </div>
        <div class="right-btn">
            <button class="left" routerLink="create">Создать</button>
        </div>
    </div>

    

    <div class="cards">

        @for (city of cities; track city.id) {

            <app-s-card [city]="city" />


        }@empty {
            <h1>No Items</h1>
        }

        
    </div>




</div>