<nav>
    <p>
        Создание города
    </p>
</nav>
<div class="content">
    <button class="to-back" routerLink=""> 
        <i class="bi bi-arrow-left"></i>
        Назад 
    </button>


    <div class="inputs">


            <label for="name">City Name</label>
            <input id="name" type="text">
  
    
    
        
            <label for="desription">City Description</label>
            <input id="desription" type="text">
            
    
      
            <label for="link">Image Link</label>
            <input id="link" type="text">


            
            <div class="but">
                <button>Создать</button>
            </div>
           
        
    </div>
</div>
